.kt-aside{
  display: none !important;
}
.kt-header{
  display: none !important;
}
.kt-header-menu{
  display: none !important;
}
.kt-aside__brand{
  display: none !important;
}
.kt-footer{
  display: none !important;
}
